nav {
	background-color: lightgoldenrodyellow;
	text-align: center;
	margin-bottom: 20px;
}

h1 {
	color: skyblue;
	font-family: 'Alegreya', serif;

}

h4 {
	font-family: 'Lora', serif;
	text-align: center;
	font-family: 'Alegreya', serif;
}

p{
	text-align: center;
	font-family: 'Alegreya', serif;
}

h1, #pageTitle{
	text-align: center;
	font-family: 'Alegreya', serif;
	margin-bottom: 10px;
	color: skyblue;
}

h2, #welcome{
	text-align: center;
	font-family: 'Alegreya', serif;
}

p, #welcomeNewUserInstructions{
	text-align: center;
	font-family: 'Lora', serif;
	margin-left: 100px;
	margin-right: 100px;
}

p, #locationsSpace {
	text-align: center;
	font-family: 'Lora', serif;
	margin-left: 200px;
	margin-right: 200px;
}

#map {
	height: 500px;
	width: 70%; 
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border-color: black;
	margin-right: auto;
	margin-left: auto;
	/*drag state*/
}

div, #locationModalBody{
	text-align: center;
}

#noteInput {
	width: 300px;
}
.infoWindowInstruction{
	font-size: 10px;
}

.subnote{
	font-size: 10px;
}

.modal-dialog{
	width: 100px;
	margin: 10px;
}