nav {
	background-color: lightgoldenrodyellow;
	text-align: center;
	margin-bottom: 20px;
}

h1 {
	color: skyblue;
	font-family: 'Alegreya', serif;
}

h4 {
	font-family: 'Lora', serif;
	text-align: center;
}

p{
	text-align: center;
	font-family: 'Alegreya', serif;
}

h1, #pageTitle {
	text-align: center;
	font-family: 'Alegreya', serif;
	margin-bottom: 40px;
	color: skyblue;
}

h3, #welcome {
	text-align: center;
	font-family: 'Alegreya', serif;
}

p, #welcomeNewUserInstructions {
	text-align: center;
	font-family: 'Lora', serif;
	margin-left: 100px;
	margin-right: 100px;
}

p, #locationsSpace {
	text-align: center;
	font-family: 'Lora', serif;
	margin-left: 200px;
	margin-right: 200px;
}

#map {
	height: 500px;
	width: 70%; 
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border-color: black;
	margin-right: auto;
	margin-left: auto;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

div, #locationModalBody {
	text-align: center;
}

#noteInput {
	width: 300px;
}

.infoWindowInstruction {
	font-size: 10px;
}

.subnote {
	font-size: 10px;
}

.modal-dialog {
	width: 100px;
	margin: 10px;
}

/*in order to get a fancy subtitle line*/
.subtitle {
  margin: 0 0 2em 0;
}

.fancy {
  line-height: 0.5;
  text-align: center;
}

.fancy span {
  display: inline-block;
  position: relative;  
}

.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid skyblue;
  border-top: 1px solid skyblue;
  top: 0;
  width: 600px;
}

.fancy span:before {
  right: 100%;
  margin-right: 15px;
}

.fancy span:after {
  left: 100%;
  margin-left: 15px;
}
