nav {
	background-color: lightgoldenrodyellow;
	text-align: center;
	margin-bottom: 20px;
}

h1 {
	color: skyblue;
	font-family: 'Alegreya', serif;
	margin-bottom: 10px;
}

h2{
	margin-left: 100px;
}

h4 {
	font-family: 'Lora', serif;
	text-align: center;
}

p {
	text-align: center;
	font-family: 'Lora', serif;
}

#map {
	height: 500px;
	width: 70%; 
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border-color: black;
	margin-right: auto;
	margin-left: auto;
	/*drag state*/
}

#noteInput {
	width: 200px;
}
.infoWindowInstruction{
	font-size: 10px;
}


.subnote{
	font-size: 10px;
}



.modal-dialog{
	width: 100px;
	margin: 10px;
}

ex1{
    font: normal 18px/1.6 'Open Sans', "Helvetica Neue", Arial, sans-serif;
    font-weight: 300;
    color: #777;
    padding: 2em 5%;
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
    background: #fff;
}