nav {
	background-color: lightgoldenrodyellow;
	text-align: center;
	margin-bottom: 20px;
}

h1 {
	color: skyblue;
	font-family: 'Alegreya', serif;
	margin-bottom: 10px;
}

h4 {
	font-family: 'Lora', serif;
	text-align: center;
}

p {
	text-align: center;
	font-family: 'Lora', serif;
}